body{
    margin-left: 1in;
    margin-right:1in;
    margin-bottom: 2in;
    min-width: 700px;
}

a:hover{
    cursor: pointer;
    text-decoration: none;
    color: #BD93F9;
}
#intro{
    font-family: "Lucida Console", Monaco, monospace;
    color: #747fe0;
    font-size: 3.5em;
}

.blinking{
    background-color: rgba(116,127,224,.70);
    -webkit-animation: blinker 1s linear infinite;
    -moz-animation: blinker 1s linear infinite;
    -o-animation: blinker 1s linear infinite;
    -ms-animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
@-moz-keyframes blinker  /* Firefox */
{
    50% {
        opacity: 0;
    }
}
@-webkit-keyframes blinker  /* Safari and Chrome */
{
    50% {
        opacity: 0;
    }
}
@-o-keyframes blinker  /* Opera */
{
    50% {
        opacity: 0;
    }
}
@-ms-keyframes blinker  /* IE */
{
    50% {
        opacity: 0;
    }
}

#bio{
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    font-weight: 200;
    font-size: 1.3em;
    line-height: 40px;
}

  /* terminal styling */
  #terminal-header{
    height: 28px;
    background-color: #e4e3e5;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
  }

  #terminal-header div{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 9px;
  }

  #terminal-red-button{
    background-color: #f96256;
    border: 1px solid #f65549;
}

#terminal-green-button{
    background-color: #33c948;
    border: 1px solid #2dbb41;
}

#terminal-yellow-button{
    background-color: #fdbc3d;
    border: 1px solid #ffb524;
}

#terminal-body{
    background-color: #5a5d7a;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 100%;
    
}

#terminal-body > div, #terminal-body > span{
    font-family: "Lucida Console", Monaco, monospace;
    margin: 0;
    padding-top: .50cm;
    padding-left: .25in;
    padding-block-end: .05in;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.output, .output > a{
    color: rgb(255, 252, 45);
}

.input{
    color: rgb(255, 255, 255);
    display: flex;
}

.background-white{
    background-color:#ffffff;
}

/* colors */
.green{
    color:#52ee67;
}

.purple{
    color:#BD93F9;
}

.lb{
    color:#6feeff;
}


